@import url("http://eliwalles.github.io/landau/advanta/tpl/fonts/Lato/lato.css");
@import url("http://eliwalles.github.io/landau/advanta/tpl/fonts/MinionPro/MinionPro.css");

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    font-family: "LatoRegular", "Lato Regular";
    font-size: 14px;
    color: #000;
}

header, aside, nav, footer, section, div {
	display: block;
	margin: 0;
	padding: 0;
}

strong {
	font-weight: normal;
	font-family: "LatoBlack";
}

header {
	background: transparent;
	width: 100%;
	padding: 45px 0 255px 0;
	text-align: center;
}

.wrap {
	width: 960px;
	margin: 0 auto;	
}

.row {
	margin: 0 -10px;
	clear: both;
	display: block;
}

.sec {
	display: block;
	margin: 0 10px;
	float: left;
}

.clr {
	clear: both;
}

.w535 {
	width: 535px;
	text-align: left !important;
}

.f20 {
	font-size: 20px !important;
}

header>.sec:nth-child(2) {
	float: right;
}

header>.sec:nth-child(3) {
	float: right;
}

header .sec p {
	margin: 0;
	text-align: right;
	color: #fff;
}

header .sec p strong {
	font-size: 22px;
	display: block;
	margin-bottom: 5px;
}

header a img {
    padding: 10px 0px;
}

.button {
	display: inline-block;
	padding: 10px 30px;
	border: 2px solid #ffc66c;
	color: #ffc66c;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
}

.button:hover {
	background: #ffc66c;
	color: #fff;
}

header h1 {
	margin: 100px 0 30px 0;
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 54px;
    font-family: "LatoBold", "Lato Bold";
}

header ul {
	padding: 0;
	margin: 0 auto 50px auto;
	width: 620px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	list-style-type: none;
}

header ul li {
	display: inline-block;
	margin: 0;
}

header ul li:after {
	content: '•';
	padding: 0 5px;
	font-family: Arial;
}

header ul>li:nth-child(4):after {
	content: '';
	padding: 0;
}

header ul>li:nth-child(8):after {
	content: '';
	padding: 0;
}

section {
	background: #fff;
	position: relative;
	z-index: 2;
}
header {
	position: relative;
	z-index: 2;
}

.absImg {
	position: absolute;
	margin-top: -530px;
	left: 50%;
	margin-left: -474.5px;
}

h2 {
	margin: 0 0 50px 0;
	font-size: 40px;
	color: #000000;
	font-weight: normal;
    font-family: "LatoBold", "Lato Bold";
    text-align: center;
}

h3 {
	margin: 0 0 50px 0;
	font-size: 32px;
	color: #000000;
	font-weight: normal;
    font-family: "LatoBold", "Lato Bold";
    text-align: center;
}

#preim {
	padding-top: 335px;
	padding-bottom: 95px;
	text-align: center;
}

.table {
	margin: 0 -10px;
	width: 100%;
	display: table;
	padding: 0;
	list-style-type: none;
	border-spacing: 5px 0;
}

.table-cell {
	display: table-cell;
	text-align: center;
	vertical-align: top;
}

#preim ul li p {
	margin: 30px 0 0 0;
	font-size: 18px;
}

#preim > .wrap > p {
	margin: 80px 0 60px 0;
	font-size: 18px;
	color: #565656;
    font-family: "LatoRegular", "Lato Regular";
}

.c2196f3 {
	color: #2196f3 !important;
	border-color: #2196f3 !important;
}

.p16-30 {
	padding: 15px 30px !important;
}

#preim .button {
	margin: 0 auto;
}

#inf {
	background: transparent;
	padding: 60px 0;
}

#why .table-cell {
	width: 33.333333%;
}

#why .table-cell p {
	font-size: 16px;
	color: #646464;
}

#why .table-cell p strong {
	font-size: 22px;
	color: #000000;
	display: block;
	margin-bottom: 15px;
	
    font-family: "LatoRegular", "Lato Regular";
}

#why center {
	padding-top: 55px;
}

#inf p {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #ffffff;
	font-size: 28px;
}
#inf p span {
	color: #ffc66c;
}

#all {
	padding: 110px 0 80px 0;
}

.f6f5f5 {
	background-color: #f6f5f5;
}

#res {
	padding: 110px 0;
}

#num {
	padding: 90px 0 100px 0;
	background: transparent none repeat scroll 0% 0%;
}

#num h2 {
	color: #fff;
}

#dov {
	padding: 90px 0 100px 0;
}

#why {
	background: transparent none repeat scroll 0% 0%;
	padding: 90px 0 100px 0;
}

#otz {
	padding: 110px 0 100px 0;
}

#pef {
	padding: 0 0 100px 0;
}
.img-hold {
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	display: none;
}
body>.img-hold:nth-child(1) {
	display: block;
}

section.bf6f5f5 {
	background: #f6f5f5;
}

.button.c2196f3:hover {
	background: #2196f3;
	color: #fff !important;
}

#all .block {
	margin: 0 0 100px 0;
	padding: 70px 0;
	min-height: 345px;
}

#all .block1 {
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/block1.png) right center no-repeat;
}

#all .block2 {
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/block2.png) left center no-repeat;
}

#all .block2 .wrap {
	padding-left: 405px;
	width: 555px;
}

#all .block3 {
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/block3.png) right center no-repeat;
}

#all .block ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#all h4 {
	margin-bottom: 35px;
}

#all .block ul li::before {
    content: '•';
    padding: 0 10px 0 0;
    font-family: Arial;
    color: #ffb643;
    display: block;
    float: left;
    height: 30px;
}

#all .block ul li {
	font-size: 18px;
	color: #565656;
	margin-bottom: 20px;
}

#all .block ul li span {
	color: #fff;
	display: inline-block;
	padding: 3px 5px;
}

#all .block ul li span.bg-ff5515 {
	background-color: #ff5515;
}

#all .block ul li span.bg-ffb642 {
	background-color: #ffb642;
}

#all .block ul li span.bg-2196f3 {
	background-color: #2196f3;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-weight: normal;
}

#num ul li p {
	margin: 0;
	font-size: 32px;
	color: #ffc66c;
    font-family: "LatoBold", "Lato Bold";
}

#num ul li {
	text-align: left !important;
}

#num ul.table1 {
	margin: 0 auto;
	width: 800px;
}

#num ul.table2 {
	margin: 0 auto;
	width: 550px;
}

#num ul li span {
	display: block;
	margin: 10px 0 60px 10px;
	padding: 0 0 0 15px;
	border-left: 1px solid #ffc66c;
	font-size: 18px;
	color: #fff;
    font-family: "LatoItalic", "Lato Italic";
    font-style: italic;
}

#dov h3 {
	font-weight: normal;
	font-size: 22px;
	text-align: center;
	color: #2196f3;
    font-family: "LatoRegular", "Lato Regular";
    margin: 0;
    padding: 0;
}

.fotorama {
	margin: 0 auto;
}

.slide {
	display: table;
	width: 100%;
}

.fotorama__html {
	width: 835px;
	padding: 0 62.5px;
}

.slide .left {
	display: table-cell;
	vertical-align: top;
	width: 505px;
	padding-right: 55px;
}

#otz .slide .left {
	display: block;
	vertical-align: top;
	width: 100%;
	padding-right: 55px;
}

.slide .right {
	display: table-cell;
	vertical-align: top;
	width: 340px;
}

.slide .port {
	display: table;	
}

.slide .port img {
	display: table-cell;
	width: 140px;
	vertical-align: middle;
	padding-right: 20px;	
}

.slide .port p {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #565656;
	margin: 0;
}

.slide .port p strong {
	font-size: 22px;
	color: #000000;
	display: block;
	margin-bottom: 15px;
    font-family: "LatoRegular", "Lato Regular";
}

.slide .otz {
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/slide-arrow.png) top left no-repeat;
	width: 509px;
	margin: 25px 0;
	padding: 30px 0;
	border-bottom: 2px solid #ffb642; 
}

#otz .otz {
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/slide-arrow.png) top left no-repeat;
	width: 796px;
	margin: 25px 0;
	padding: 30px 0;
	border-bottom: 2px solid #ffb642; 
}

.slide .otz p {
	margin: 0;
	padding: 0;
	font-size: 18px;
    font-family: "LatoItalic", "Lato Italic";
    font-style: italic;
	color: #565656;
}

.slide .otz p strong {
	font-size: 22px;
	color: #000000;
	display: block;
	font-weight: normal;
    font-family: "LatoItalic", "Lato Italic";
    font-style: italic;
	margin-bottom: 15px;
}

.slide .right p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #565656;
}

.slide .right p strong {
	font-size: 22px;
	color: #000000;
	display: block;
	font-weight: normal;
    font-family: "LatoRegular", "Lato Regular";
	margin-bottom: 15px;
}

.circlestat {
	width: 105px;
	height: 105px;
	display: table-cell;
	vertical-align: middle;
}

.circle {
	padding-top: 35px;
	display: table;
}

.slide .before {
	display: table-cell;
	vertical-align: middle;
}

.slide .before p {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #000000;
	padding-left: 20px;
}

.slide .before p span {
	display: block;
	font-size: 40px;
	color: #2196f3;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 2px solid #d9d9d9;
    font-family: "LatoBold", "Lato Bold";
    width: 105px;
}

.slide .after {
	display: table-cell;
	vertical-align: middle;
}

.slide .after p {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	color: #000000;
	padding-left: 20px;
}

.slide .after p span {
	display: block;
	font-size: 40px;
	color: #00c437;
	padding-top: 5px;
	margin-top: 5px;
	border-top: 2px solid #d9d9d9;
    font-family: "LatoBold", "Lato Bold";
    width: 105px;
}

section .fotorama__arr {
	display: block;
	width: 29px;
	height: 53px;
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/arrow-l.png) center center no-repeat;
	border-radius: 0;
}

section .fotorama__arr.fotorama__arr--next {
	background: url(http://eliwalles.github.io/landau/advanta/tpl/img/arrow-r.png) center center no-repeat;
}

section .fotorama__dot {
    display: block;
    width: 4px;
    height: 4px;
    position: relative;
    top: 12px;
    left: 6px;
    border-radius: 6px;
    border: 3px solid #d9d9d9;
}

section .fotorama__active .fotorama__dot {
    display: block;
    width: 4px !important;
    height: 4px !important;
    position: relative;
    top: 12px;
    left: 6px;
    border-radius: 6px;
    border: 2px solid #ffb746;
}
#dov ul.table {
	margin: 60px 0 70px 0;
	border-spacing: 0;
}
#dov ul.table li {
	vertical-align: middle;
	width: 158.333333333px;
	cursor: pointer;
}
#dov ul.table li.line {
	width: 2px;
	cursor: normal;
}
.block.block-html.is-html {
	width: 100% !important;
}
.page_container {
	width: 100% !important;	
}
#dov ul.table li.line div {
	background: #d9d9d9;
	width:2px;
	height: 62px;
}
#dov ul.table li img {
	filter:  url(http://eliwalles.github.io/landau/advanta/tpl/img/grayscale.svg#greyscale);
}
#dov ul.table li:hover  img {
	filter:  none;
}
/* filter:  url(grayscale.svg#greyscale); */
